!!!
%html
%head
  %title Tacha Products Lilsting
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body

  %nav.navbar.navbar-default
    .container
      .navbar-header
        = link_to "Tacha API", root_path, class: "navbar-brand"

  .container
    = yield

</body>
</html>
